lesson 1

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as abc

In [9]:
pd.DataFrame ({'A': [40,50,60}])

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (2693207546.py, line 1)

In [15]:
df=pd.DataFrame ({'A': [40,50,60]})

In [17]:
df.describe

<bound method NDFrame.describe of     A
0  40
1  50
2  60>

In [19]:
df.info

<bound method DataFrame.info of     A
0  40
1  50
2  60>

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
dtypes: int64(1)
memory usage: 156.0 bytes

In [23]:
df.describe()

          A
count   3.0
mean   50.0
std    10.0
min    40.0
25%    45.0
50%    50.0
75%    55.0
max    60.0